<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
		<setting id="epgFile" type="text" label="32002" />     	
		<setting id="epgDays" type="enum" label="32004" values="1|2|3" />
		<setting id="playlistFile" type="text" label="32005" />     	
    </category>
</settings>