<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
	<category label="32000">
		<setting id="cookiesFolder" type="folder" label="32010"/>
		<setting id="cacheFolder" type="folder" label="32011"/>
		<setting id="watchedFolder" type="folder" label="32012"/>
		<setting id="transmissionUrl" type="text" label="32017" default="http://127.0.0.1:9091/transmission/rpc"/>
		<setting id="transmissionDownloadsFolder" type="folder" label="32018"/>				
    </category>
	<category label="32001">
		<setting id="kinopoiskUser" type="text" label="32013"  />
		<setting id="kinopoiskPassword" type="text" label="32014" option="hidden" />		
		<setting id="rutrackerUser" type="text" label="32015"  />
		<setting id="rutrackerPassword" type="text" label="32016" option="hidden" />				
    </category>
	
</settings>